#progressContainer {
	width: 400px; /* Bar length */
	height: 40px;
	border: 0px;
	border-style: solid;
	background-color: #FFFFFF;
}
#progressBar {
	z-index: 1;
	height: 20px;
	background-color: #eeee33;
}
#progressText {
	z-index: 2;
	position: absolute;
	top: 0px;
	width: 400px; /* Bar length */
	text-align: center;
	color: #333333;
}