<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GoogleFileService/src/sinica/googlefileservice/client/examples/MyFileServiceClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sinica.googlefileservice.client.examples.MyFileServiceClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GoogleFileService"/>
</launchConfiguration>
